# Data Processing
numpy
pandas

# Visualization
matplotlib
seaborn
squarify

# Image Processing
Pillow

# Progress Bar
tqdm

# Machine Learning
scikit-learn

# Deep Learning
tensorflow
torch
torchvision

# Google Colab
google-colab
